<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.shortlinklink.mapper.LinkGroupMapper">

    <resultMap id="BaseResultMap" type="com.hutu.shortlinklink.domain.LinkGroup">
            <id property="id" column="id" />
            <result property="title" column="title" />
            <result property="accountNo" column="account_no" />
            <result property="gmtCreate" column="gmt_create" />
            <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <sql id="Base_Column_List">
        id,title,account_no,gmt_create,gmt_modified
    </sql>
</mapper>
