<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hutu.shortlinkaccount.mapper.TrafficTaskMapper">

    <resultMap id="BaseResultMap" type="com.hutu.shortlinkaccount.domain.TrafficTask">
            <id property="id" column="id" />
            <result property="accountNo" column="account_no" />
            <result property="trafficId" column="traffic_id" />
            <result property="useTimes" column="use_times" />
            <result property="lockState" column="lock_state" />
            <result property="messageId" column="message_id" />
            <result property="gmtCreate" column="gmt_create" />
            <result property="gmtModified" column="gmt_modified" />
    </resultMap>

    <sql id="Base_Column_List">
        id,account_no,traffic_id,use_times,lock_state,message_id,
        gmt_create,gmt_modified
    </sql>
</mapper>
